/*-- scss:defaults --*/

$theme-white: #FEFEFE;
$theme-green: #678D41;
$theme-blue: #394D85;
$theme-darkblue: #13234B;

@import url('https://fonts.googleapis.com/css2?family=Fahkwang&family=Ingrid+Darling&family=Quicksand&display=swap');

$body-bg: $theme-white;
$link-color: $theme-blue;
$code-color: $theme-blue;
$body-color: $theme-darkblue;
$presentation-heading-color: $theme-green;
$presentation-heading-font: 'Fahkwang', sans-serif;
$font-family-sans-serif: 'Quicksand', sans-serif;
$code-block-font-size: 0.8em;
/*-- scss:rules --*/

.reveal div.sourceCode {
  border: unset !important;
}

div.sourceCode {
  background-color: unset !important;
}

.curly {
  font-family: 'Ingrid Darling', cursive;
  font-size: 2em;
}

.center-v {
  display:flex;
  justify-content:center;
  align-items:center;
}

@mixin center-text {
  position: absolute;
  transform: translate(-50%, -50%);
}

@mixin background-full {
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.theme-title1 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/title1.svg');
    @include background-full;
  }

  h2 {
    text-align: center;
    font-size: 3em;
  }
  h3 {
    color: $theme-blue;
    text-align: center;
    font-size: 2em;
  }
}

.theme-title2 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/title2.svg');
    @include background-full;
  }
  h2 {
    text-align: center;
    font-size: 3em;
  }
  h3 {
    color: $theme-blue;
    text-align: center;
    font-size: 2em;
  }
}

.theme-section1 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/section1.svg');
    @include background-full;
  }
  h2, h3, h4, h5, p, pre {
    margin-left: 100px;
    width: 65%;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    color: $theme-blue;
    font-size: 1.5em;
  }
}

.theme-section2 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/section2.svg');
    @include background-full;
  }
  h2, h3, h4, h5, p, pre {
    margin-left: 100px;
    width: 65%;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    color: $theme-blue;
    font-size: 1.5em;
  }
}

.theme-section3 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/section3.svg');
    @include background-full;
  }
  h2, h3, h4, h5, p, pre {
    margin-left: 350px;
    width: 65%;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    color: $theme-blue;
    font-size: 1.5em;
  }
}

.theme-slide1 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/slide1.svg');
    @include background-full;
  }
  h3 {
    color: $theme-blue;
  }
}

.theme-slide2 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/slide2.svg');
    @include background-full;
  }
   h3 {
    color: $theme-blue;
  }
  h2, h3, h4, h5, p, pre {
    margin-left: 100px;
  }
}

.theme-slide3 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/slide3.svg');
    @include background-full;
  }
   h3 {
    color: $theme-blue;
  }
  h2, h3, h4, h5, p, pre {
    margin-left: 100px;
  }
}

.theme-slide4 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/slide4.svg');
    @include background-full;
  }
   h3 {
    color: $theme-blue;
  }
  h2{
    margin-top: 100px;
  }
}

.theme-slide5 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/slide5.svg');
    @include background-full;
  }
   h3 {
    color: $theme-blue;
  }
  h2, h3, h4, h5, p, pre {
    margin-left: 50px;
  }
}

.theme-slide6 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/slide6.svg');
    @include background-full;
  }
   h3 {
    color: $theme-blue;
  }
  h2, h3, h4, h5, p, pre {
    margin-left: 50px;
  }
}

.theme-slide7 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/slide7.svg');
    @include background-full;
  }
   h3 {
    color: $theme-blue;
  }
  h2 {
    margin-top: 100px;
  }
}

.theme-slide8 {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/slide8.svg');
    @include background-full;
  }
   h3 {
    color: $theme-blue;
  }
  h2{
    margin-top: 100px;
  }
}
